/* css styles */

code {
  background-color: #e5f0fb !important;
}

pre.sourceCode, pre {
	border: 1px solid #a2a2a2;
}

p, a, li, .callout-title-container, table {
	color: #303d64 !important;
}

#title-block-header {
	text-align: center;
}

.tippy-content {
	border: 1px solid #a2a2a2;
	border-radius: 2%;
	background-color: #303d64;
}

.tippy-content > p {
	color: white !important;
}

.callout {
	border-right: 1px solid #a2a2a2 !important;
	border-bottom: 1px solid #a2a2a2 !important;
}
.callout-header {
	border-bottom: 1px solid #a2a2a2 !important;
	border-top: 1px solid #a2a2a2 !important;
}
