# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/docs.yml
      - docs/**
      - crates/**/src/**
      - crates/**/Cargo.toml
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/docs.yml
      - docs/**
      - crates/**/src/**
      - crates/**/Cargo.toml
  workflow_dispatch:

name: docs

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  docs:
    runs-on: macOS-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install R dependencies
        run: install.packages(c("rmarkdown", "tinytable", "yaml"))
        shell: Rscript {0}

      - name: Generate rules documentation
        run: source("docs/make_docs.R")
        shell: Rscript {0}

      - name: Render and Publish Quarto Project (main branch)
        if: github.event_name != 'pull_request'
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
          path: docs
